<div class="container">
  <div class="row">
    <div class="col-md-5 offset-md-1">
      <h2><%= @ski.title %></h2>

      <p><%= image_tag @ski.get_image(100,100) %></p>
      <p>投稿者：<%= @ski.user.name %></p>
      <p><%= @ski.created_at.strftime('%m/%d %H:%M') %></p>
      <p><%= @ski.title %></p>
      <%= link_to public_genre_path(@genre.id) do %>
        <p><%= @ski.genre.name %></p>
      <% end %>
      <p><%= @ski.body %></p>

      <br>
      <% if @ski.user == current_user %>
        <%= link_to "編集する", edit_public_ski_path %>
        <%= link_to "削除する", public_ski_path, method: :delete, "data-confirm" => "本当に削除しますか？" %>
      <% end %>
    </div>

    <div class="col-md-4 offset-md-1">
      <br>
      <br>
      <br>
      <% if @ski.favorited_by?(current_user) %>
      <p>
        <%= link_to public_ski_favorites_path(@ski), method: :delete do %>
          ♥<%= @ski.favorites.count %> いいね
        <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to public_ski_favorites_path(@ski), method: :post do %>
          ♡<%= @ski.favorites.count %> いいね
        <% end %>
      </p>
      <% end %>

      <p>コメント件数：<%= @ski.ski_comments.count %></p>
      <% @ski.ski_comments.each do |ski_comment| %>
        <p><%= image_tag ski_comment.user.get_image(50,50) %>
        <%= ski_comment.user.name %>
        </p>
        <p><%= ski_comment.created_at.strftime('%m/%d') %><%= ski_comment.comment %></p>
        <p>
        <% if ski_comment.user == current_user %>
          <%= link_to "削除", public_ski_ski_comment_path(ski_comment.ski, ski_comment), method: :delete %>
        <% end %>
        </p>
      <% end %>

      <% if @ski_comment.errors.any? %>
        <%= @ski_comment.errors.count %>件のエラーが発生しました
        <ul>
          <% @ski_comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= form_with model: [:public, @ski, @ski_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに入力" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>