<div class="container">
  <div class="row">
    <div class="col-md-7">
      <br>
      <h2>ジャンル編集</h2>
    </div>

    <div class="col-md-7 offset-md-1">
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
      <br>
      <p>画像
        <%= f.file_field :image, accept: "image/*" %>
      </p>
      <br>

      <p>ジャンル名
        <%= f.text_field :name %>
      </p>
      <br>

      <p>詳細
        <%= f.text_area :body %>
      </p>
      <br>

      <p>ステータス</p>
        <p>
          <%= f.radio_button :is_registration, false %>
          <%= f.label :is_registration, "申請中", {value: true, style: "display: inline-block;"} %>
          <%= f.radio_button :is_registration, true %>
          <%= f.label :is_registration, "承認済み", {value: false, style: "display: inline-block;"} %>
        </p>

      <p><%= f.submit '編集' %></p>
      <% end %>
    </div>
  </div>
</div>