<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h2>ジャンル登録</h2>
    </div>

    <div class="col-md-6 offset-md-1">
      <%= form_with model: @genre, url: public_genres_path do |f| %>
      <br>
      <p>画像
        <%= f.file_field :image, accept: "image/*" %>
      </p>

      <br>
      <p>ジャンル名
        <%= f.text_field :name %>
      </p>

      <br>
      <p>詳細
        <%= f.text_area :body %>
      </p>

      <br>
      <p><%= f.submit '新規登録' %></p>
      <% end %>
    </div>
  </div>
</div>

