<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-1 ">
      <h2>新規会員登録</h2>
      <br>

      <%= form_with model: @user, url: user_registration_path do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

        <p>ニックネーム</p>
        <p><%= f.text_field :name %></p>

        <p>メールアドレス</p>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>

        <p>
          パスワード<% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </p>
        <p><%= f.password_field :password, autocomplete: "new-password" %></p>


        <p>パスワード(確認用)</p>
        <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>

        <p><%= f.submit "新規登録" %></p>
      <% end %>

      <h3>既に登録済みの方</h3>
      <%= link_to "こちら", new_user_session_path %>
      からログインしてください。
    </div>
  </div>
</div>