<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br>
      <h2><%= @user.name %>さん</h2>
      <p><%= image_tag @user.get_image(100,100) %></p>
      <% if current_user.following?(@user) %>
        <%= link_to "フォロー外す", public_user_relationships_path(@user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", public_user_relationships_path(@user.id), method: :post %>
      <% end %>
    </div>
  </div>

  <br>
  <h3>投稿記事一覧</h3>

  <div class="row">
    <% @skis.each do |ski| %>
    <div class="col-lg-3 col-md-12 mb-4">
      <%= link_to public_ski_path(ski.id) do%>
        <p><%= image_tag ski.get_image(100,100) %></p>
      <% end %>
      <p><%= ski.title %></p>
    </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <% if @user == current_user %>
      <%= link_to "登録情報編集", edit_public_user_path(current_user) %>
      <% end %>
    </div>
  </div>
</div>
